extends layout

block content
  div(class="container")
    div(class="row")
        div(class="col-sm-12")
          h1= title

          h2 There is always room for improvement in every project. 
          p This project has the ability to scale up to reach a large amount of users.

          ol
            li Upload photo of receipt to Google Cloud Storage.
            li Analyze receipt and use  Vision API  - Optical Character Recognition (OCR).
            li Integrate with POS system of supermarket. To eliminate the step of uploading the photo of the receipt.
            li Build shoppers profile and keep a log of items bought in the past.

          h3 Inspiration for project
          ol 
            li 
              a(href="https://www.cbsnews.com/news/coronavirus-elderly-rebecca-mehra-twitter-buys-couple-groceries-scared-to-go-into-store-during-oregon-outbreak/" target="_blank") Woman helped elderly couple get food when they were too scared to go shopping during coronavirus outbreak
            li 
              a(href="https://www.buddysystemmia.com/" target="_blank") Buddy System

            

    div(class="row")
        div(class="col-sm-12")
            a(class="btn btn-primary btn-lg btn-block" href="/") Home
