extends layout

block content
  div(class="container")
    div(class="row")
        div(class="col-sm-12")
          h1= title

          h2 There is always room for improvement 
          p This project has the ability to scale up to reach a large amount of users.

          ol
            li Integrate with POS of Supermarket. To eliminate the step of uploading the photo of the receipt.
            li Build shoppers profile and keep a log of items bought in the past 

    div(class="row")
        div(class="col-sm-12")
            a(class="btn btn-primary btn-lg btn-block" href="/") Home
