extends layout

block content
  div(class="container")
    div(class="row")
        div(class="col-sm-12")
          h1= title

          h2 Help the Elderly

            
    div(class="row")
      div(class="col-sm-12")
        a(class="btn btn-primary btn-lg btn-block" href="/instructions") Instructions for employees
      
    div(class="row")
      div(class="col-sm-12")
        a(class="btn btn-primary btn-lg btn-block yellow-btn" href="/signup") Sign Up a Customer  