extends layout

block content
  div(class="container")
    div(class="row")
        div(class="col-sm-12")
          h1= title
          h2 Purpose 
          p This project aims to limit the of grocery trips of elderly citizens. By limiting their trips to the grocery store, they are reducing the risks of contracting Coronavirus in an indoor space. 
          
          p The supermarket employee will inform the customer about the service and enroll her/him in a simple form. Once the customer is signed up, he/she leaves the store and within a week a person from group of buyers (preferably a nonprofit) will contact the elderly and ask if they need groceries. The elderly usually buy the same items every week. 
          
          p The buyers will review receipt and call the customer to check if he/she needs groceries for the coming week. 
            

    div(class="row")
        div(class="col-sm-6")
            a(class="btn btn-primary btn-lg btn-block" href="/") Back

        div(class="col-sm-6")
            a(class="btn btn-primary btn-lg btn-block" href="/steps") Next
