extends layout

block content
  div(class="container")
    div(class="row")
        div(class="col-sm-12")
          h1= title
            
          h2 Pitch 
          
          p This service offers you grocery delivery to your house. 
          
          p So that way, you reduce your exposure in the supermarket. 
          
          p An approved buyer will contact you and will deliver your weekly groceries.

    
    div(class="row")
        div(class="col-sm-6")
            a(class="btn btn-primary btn-lg btn-block" href="/steps") Back

        div(class="col-sm-6")
            a(class="btn btn-primary btn-lg btn-block green-btn" href="/") Done
