extends layout

block content
  div(class="container")


    div(class="row")
      div(class="col-sm-12")
        h1= title
        a(class="btn btn-primary btn-lg" href="/") Home


    div(class="row")
        div(class="col-sm-12")
          
          <script type="text/javascript" src="https://pantherhack2020.formstack.com/forms/js.php/sign_up"></script><noscript><a href="https://pantherhack2020.formstack.com/forms/sign_up" title="Online Form">Online Form - Sign up</a></noscript><div style="text-align:right; font-size:x-small;"><a href="http://www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,3970246" title="Powered by Formstack">Powered by Formstack</a></div>
      

    