extends layout

block content
  div(class="container")
    div(class="row")
        div(class="col-sm-12")
          h1= title

          p An email was sent to the help group and they will contact the customer within a week.

    div(class="row")
        div(class="col-sm-12")
            a(class="btn btn-primary btn-lg btn-block" href="/") Home