body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #071B40;
  color: #FFF;
}

h1, h2, h3 {
  color: #E8CD7D;
  font-weight: 700;
}

p,
li {
  font-size: 1.3em;
}

a {
  color: #00B7FF;
}

.row {
  margin-bottom: 20px;
}

.btn {
  height: 5em;
  padding-top: 1.8em;
  font-size: 2em;
  font-weight: 800;
}

.yellow-btn {
  background-color: #F8C93E;
  color: #071B40;
}