extends layout

block content
  div(class="container")
    div(class="row")
        div(class="col-sm-12")
          h1= title
          h2 Purpose 
          p This project aims to limit the of grocery trips of elderly citizens. By limiting their time at a grocery store, they are reducing the risks of contracting COVID-19 in an enclosed space. A group of buyers(preferably a nonprofit) will contact the elderly and ask if they need groceries. Elders, usually buy the same items every week. By taking a photo of the receipt and saving, the buyers will know what is the grocery list looks like. 
            a(class="btn btn-primary btn-lg btn-block" href="/steps") Next

